*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset   grey; 
}
 
::-webkit-scrollbar-thumb {
  background: #5aaaff; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5aaaff; 
}